<div fxFill fxLayout="row">
  <div fxFlex="grow" fxLayout="column" fxLayoutGap="8px" style="margin: 8px;">
    <app-section-table-card style="display: flex; flex-grow: 1; overflow: auto; padding: 2px;"></app-section-table-card>
  </div>

  <div fxLayout="column" fxLayoutGap="8px" style="width: 552px; margin: 8px;">
    <app-section-filter-card style="padding: 2px;"></app-section-filter-card>
    <app-section-info-card style="display: flex; flex-grow: 1; overflow: auto; padding: 2px;"></app-section-info-card>
  </div>
</div>
